.card-glassmorph {
  @apply px-2;
  @apply py-4;
  @apply text-white;
  border-radius: 4px;
  background: rgba( 255, 255, 255, 0.50 );
  box-shadow: 0 8px 32px 0 rgba( 255, 149, 138, 0.47 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.background-popup {
  @apply fixed;
  @apply w-full;
  @apply h-screen;
  @apply top-0;
  @apply right-0;
  @apply left-0;
  @apply bottom-0;
  border-radius: 4px;
  background: rgba( 255, 255, 255, 0.1 );
  animation-name: background-popup-active;
  animation-fill-mode: forwards;
  animation-duration: .05s;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@keyframes background-popup-active {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur( 0px );
  }
  to {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur( 9px );
  }
}

.background-popup-active {
  backdrop-filter: blur( 9px );
}

.left-popup {
  @apply fixed;
  @apply h-96;
  @apply bg-white;
  @apply bottom-0;
  @apply p-4;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: left-popup-active;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  background: rgba( 255, 255, 255, .3 );
  box-shadow: 0 8px 32px 0 rgba( 255, 149, 138, 0.1 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@keyframes left-popup-active {
  0% {
    bottom: -24rem;
  }
  100% {
    bottom: 0;
  }
}